<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <!-- PWA Manifest -->
  <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
  <meta name="theme-color" content="#2F80ED">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <link rel="apple-touch-icon" href="{{ url_for('static', filename='icons/image.png') }}">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='icons/image.png') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Вход</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}?v=3">

</head>

<body>
  {% include 'topbar.html' %}

  <div class="container">
    <h2>Вход</h2>

    <form method="POST">
      {% if error %}
        <div class="error-message" id="error-message">Логин или пароль неверный.</div>
        <script>
          setTimeout(() => {
            const el = document.getElementById('error-message');
            if (el) {
              el.style.transition = "opacity 0.5s ease";
              el.style.opacity = 0;
              setTimeout(() => el.remove(), 500);
            }

            const url = new URL(window.location);
            url.searchParams.delete('error');
            window.history.replaceState({}, document.title, url);
          }, 2500);
        </script>
      {% endif %}

      {{ form.hidden_tag() }}

      <div class="form-group">
        {{ form.username.label }}<br>
        {{ form.username(class="form-control") }}
      </div>

      <div class="form-group">
        {{ form.password.label }}<br>
        {{ form.password(class="form-control") }}
      </div>

      <div class="checkbox-group">
        <label class="remember-label" for="remember_me">
          {{ form.remember_me(class_="form-check-input") }}
          <span>{{ form.remember_me.label.text }}</span>
        </label>
      </div>


      <div class="form-group">
        {{ form.submit(class="submit-btn") }}
      </div>
    </form>

    <p>Нет аккаунта? <a href="{{ url_for('routes_bp.register') }}">Зарегистрироваться</a></p>
  </div>

  <script>
    if ('serviceWorker' in navigator) {
      navigator.serviceWorker.register('/static/service-worker.js')
        .then(() => console.log("✅ Service Worker зарегистрирован"))
        .catch(err => console.error("❌ Ошибка регистрации Service Worker:", err));
    }
  </script>
</body>
</html>
