<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Регистрация</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>
<body>
    {% include 'topbar.html' %}
  <div class="container">
    <h2>Регистрация</h2>
    <form method="POST">
      {{ form.hidden_tag() }}
      {{ form.username.label }} {{ form.username() }}
      {{ form.password.label }} {{ form.password() }}
      {{ form.confirm.label }} {{ form.confirm() }}
      {{ form.submit() }}
    </form>
    <p>Уже есть аккаунт? <a href="{{ url_for('routes_bp.login') }}">Войти</a></p>
  </div>
</body>
</html>
