<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Регистрация</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='register.css') }}">
</head>
<body>
  {% include 'topbar.html' %}

  <div class="container">
    <h2>Регистрация</h2>

    <form method="POST">
      {% if error == '1' %}
        <div class="error-message" id="error-message">Пользователь с таким логином уже существует.</div>
      {% elif error == '2' %}
        <div class="error-message" id="error-message">Пароли не совпадают.</div>
      {% endif %}

      {% if error %}
      <script>
        setTimeout(() => {
          const el = document.getElementById('error-message');
          if (el) {
            el.style.transition = "opacity 0.5s ease";
            el.style.opacity = 0;
            setTimeout(() => el.remove(), 500);
          }

          const url = new URL(window.location);
          url.searchParams.delete('error');
          window.history.replaceState({}, document.title, url);
        }, 2500);
      </script>
      {% endif %}

      {{ form.hidden_tag() }}

      <div class="form-group">
        {{ form.username.label }}<br>
        {{ form.username() }}
      </div>

      <div class="form-group">
        {{ form.password.label }}<br>
        {{ form.password(id="password") }}
      </div>

      <div class="form-group">
        {{ form.confirm.label }}<br>
        {{ form.confirm() }}
      </div>


      {{ form.submit(class="submit-btn") }}
    </form>

    <p>Уже есть аккаунт? <a href="{{ url_for('routes_bp.login') }}">Войти</a></p>
  </div>


</body>
</html>
