<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Отправка заявки</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='submit_ticket.css') }}">
</head>
<body>
    <h2>Отправка заявки</h2>
    <form method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        {{ form.room_number.label }} {{ form.room_number() }}<br><br>
        {{ form.category.label }} {{ form.category() }}<br><br>
        {{ form.problem.label }} {{ form.problem() }}<br><br>
        {{ form.attachment.label }} {{ form.attachment() }}<br><br>
        {{ form.submit() }}
    </form>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="flash {{ category }}">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}
</body>
</html>
