<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Управление пользователями</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='users.css') }}">
</head>
<body>
    {% include 'topbar.html' %}
  <div class="container">
    <h2>Пользователи</h2>
    <form method="POST">
      <table class="user-table">
        <thead>
          <tr>
            <th>Имя</th>
            <th>Роль</th>
            <th>Дата назначения</th>
            <th>Новый пароль</th>
            <th>Админ</th>
            <th>Удалить</th>
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
          <tr>
            <td>{{ user.username }}</td>
            <td>
              {% if user.is_super %}<strong>Суперпользователь</strong>
              {% elif user.is_admin %}Админ
              {% else %}Пользователь{% endif %}
            </td>
            <td>{{ user.admin_assigned_at.strftime('%Y-%m-%d %H:%M') if user.admin_assigned_at else '' }}</td>
            <td><input type="text" name="password_{{ user.id }}"></td>
            <td>
              {% if not user.is_super %}
              <input type="checkbox" name="admin_{{ user.id }}" {% if user.is_admin %}checked{% endif %}>
              {% endif %}
            </td>
            <td>
              {% if not user.is_super %}
              <input type="submit" name="delete_{{ user.id }}" value="Удалить">
              {% else %}
              —
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="blockk"> <button type="submit">Сохранить изменения</button> </div>
    </form>

  </div>
</body>
</html>
